//HEADER
/*logo*/
.main_logo
    position: relative
    width: 256px
    height: 256px
    a
        position: absolute
        width: 210px
        height: 256px 
        background: url(../../../../resources/assets/img/logo.png) center center no-repeat
        background-size: auto 76%
        &:hover
            background-color:#222

/*nav*/
.main_nav
    width: auto
    margin-top: 10px
    li
        float: left
        
    a
        padding: 20px 36px;
        color: #eee;
        font-weight: 500;
        
    
//FOOTER
.main_footer
    .title
        font-size: 1em
        text-transform: uppercase
        margin-bottom: 10px
        padding-bottom: 8px
        border-bottom: 1px solid #cccc
    li
        margin-bottom: 3px
        padding: 3px 0
    a
        color: #424242
        &:hover
            text-decoration: underline

.main_ead
    p
        margin-bottom: 10px
    hr
        margin-bottom: 10px  
    .plast
        margin: 0
        font-size: .9em
        text-align: center
        line-height: 1.4

//VIDEO
.main_video
    margin-bottom: 25px
    padding-bottom: 25px
    
  